In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("/Users/tosa/Desktop/Analytics/Obce.xlsx")
df

,Nazev,PSC,Obyvatel,Kraj,Okres,Posta,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Magistrát hlav. města Praha,11000,1161938,Hl.m. Praha,Hlavní město Praha,ANO,NaN,NaN,NaN
1,Magistrát města Brno,60167,370505,Jihomoravský,Brno-město,ANO,NaN,NaN,NaN
2,Magistrát města Ostrava,72930,314102,Moravskoslezský,Ostrava-město,ANO,NaN,NaN,NaN
3,Magistrát města Plzeň,30632,164703,Plzeňský,Plzeň-město,ANO,NaN,NaN,NaN
4,Magistrát města Olomouc,77127,101624,Olomoucký,Olomouc,ANO,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6241,Vysoká Lhota,39501,26,Vysočina,Pelhřimov,NE,NaN,NaN,NaN
6242,Bludov,28542,25,Středočeský,Kutná Hora,NE,NaN,NaN,NaN
6243,Čilá,33808,25,Plzeňský,Rokycany,NE,NaN,NaN,NaN
6244,Hraditě,33810,24,Plzeňský,Rokycany,NE,NaN,NaN,NaN
6245,Vlkov,37363,20,Jihočeský,České Budějovice,NE,NaN,NaN,NaN

In [4]:
df.columns

Index(['Nazev', 'PSC', 'Obyvatel', 'Kraj', 'Okres', 'Posta', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [5]:
df = df[['Nazev', 'PSC', 'Obyvatel', 'Kraj', 'Okres', 'Posta']]
df

,Nazev,PSC,Obyvatel,Kraj,Okres,Posta
0,Magistrát hlav. města Praha,11000,1161938,Hl.m. Praha,Hlavní město Praha,ANO
1,Magistrát města Brno,60167,370505,Jihomoravský,Brno-město,ANO
2,Magistrát města Ostrava,72930,314102,Moravskoslezský,Ostrava-město,ANO
3,Magistrát města Plzeň,30632,164703,Plzeňský,Plzeň-město,ANO
4,Magistrát města Olomouc,77127,101624,Olomoucký,Olomouc,ANO
...,...,...,...,...,...,...
6241,Vysoká Lhota,39501,26,Vysočina,Pelhřimov,NE
6242,Bludov,28542,25,Středočeský,Kutná Hora,NE
6243,Čilá,33808,25,Plzeňský,Rokycany,NE
6244,Hraditě,33810,24,Plzeňský,Rokycany,NE
6245,Vlkov,37363,20,Jihočeský,České Budějovice,NE